.jumbotron{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jumbotron .form-control{
    width: 350px;
}
.category-picker .btn{
    cursor: pointer;
}
.category-title{
    text-align: center;
}
.category-question {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    height: 2em;
    cursor: pointer;
}
.category-list .btn{
    cursor: pointer;
}
.question-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: DodgerBlue;
    color: white;
    display: table;
}

.question-fullscreen pre{
    background: #ccc;
    padding: 10px 15px;
    border-radius: 6px;
    text-align: left;
    display: inline-block;
}

.question-fullscreen h1 {
    margin: auto;
}
.question-fullscreen-inner-vertical{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.question-fullscreen-inner-content{
    max-height: 100vh;
    padding: 30px 10%;
    overflow: auto;
}
.user-answerblock {
    margin: 0 auto;
    margin-top: 100px;
    text-align: left;
    display: inline-block;
}
.user-answerblock-close{
    text-align: center;
}
/*
.user-answerblock .btn{
    font-size: 2rem;
    height: 62px;
    width: 62px;
    text-align: center;
    line-height: 53px;
}
.user-answerblock .col-form-label{
    font-size: 2rem;
}*/
